.products-frame {
    background: rgba(0, 140, 255, 0.216);
    max-width: 40%;
    margin: 20px;
    border-radius: 10px;

    >span {
        font-weight: bolder;
        margin: 5px;
    }

    .contents {
        margin: 5px;
        margin-bottom: 5px;
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }
}